[submodule "themes/light-hugo"]
	path = themes/light-hugo
	url = git@github.com:tblyler/light-hugo.git

[submodule "public"]
	path = public
	url = git@github.com:andrei-stoica/andrei-stoica.github.io.git
